<ion-header>
  <ion-navbar>
    <ion-title><i>GoodParents</i></ion-title>
  </ion-navbar>
</ion-header>

<ion-content fixed>
  <form padding [formGroup]="loginForm" (submit)="login()">
      <ion-list no-lines>
        <ion-item *ngIf="error" class="error">
            <p>Os dados informados não estão corretos.</p>
        </ion-item>

        <ion-item>
            <ion-label floating>E-mail</ion-label>
          <ion-input formControlName="email" type="text" clearInput clearOnEdit="false"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
            <p class="error" *ngIf="loginForm.get('email').hasError('required')">Campo obrigatório</p>
        </ion-item>

        <ion-item>
            <ion-label floating>Senha</ion-label>
          <ion-input formControlName="senha" type="password" clearInput clearOnEdit="false">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('senha').errors && loginForm.get('senha').dirty">
            <p class="error" *ngIf="loginForm.get('senha').hasError('required')">Campo obrigatório</p>
        </ion-item>
      </ion-list>
    <button ion-button block color="primary">Login</button>
  </form>  
  <!-- <img src="assets/imgs/logo-sesc-mod.png" style="width:430px; height:150px;"/> --> 
</ion-content>

<ion-footer>
    <button ion-button color="light" round block (click)="pushPage()">Cadastre-se</button>
</ion-footer> 
