<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="primary-font">
  <form padding [formGroup]="loginForm" (submit)="login()">
      <ion-list no-lines>
        <ion-item *ngIf="error" class="error">
            <p>Os dados informados não estão corretos.</p>
        </ion-item>
        <div>
          <ion-item>
            <ion-input formControlName="email" type="text" placeholder="E-mail" clearInput clearOnEdit="false"></ion-input>
          </ion-item>
          <ion-item *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
              <p class="error" *ngIf="loginForm.get('email').hasError('required')">Campo obrigatório</p>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-input formControlName="senha" type="password" placeholder="Senha"  clearInput clearOnEdit="false">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="loginForm.get('senha').errors && loginForm.get('senha').dirty">
              <p class="error" *ngIf="loginForm.get('senha').hasError('required')">Campo obrigatório</p>
          </ion-item>
        </div>
      </ion-list>
    <button ion-button block color="primary" class="login-button">Login</button>
  </form>
</ion-content>

<ion-footer>
<ion-toolbar>
    <button ion-button color="danger" shape="round" outline block (click)="pushPage()">Cadastre-se</button>
</ion-toolbar>
</ion-footer>
