<ion-header>
  <ion-navbar>
    <ion-title style="background-color: #1a66ff"><i style="font-size: 1em; color:white">GoodParents</i></ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #1a66ff" fixed>
  <form padding [formGroup]="loginForm" (submit)="login()">
      <ion-list no-lines>
        <ion-item *ngIf="error" class="error">
            <p>Os dados informados não estão corretos.</p>
        </ion-item>

        <ion-item style="background-color: #1a66ff">
            <ion-label style="font-size: 1em; color:white" floating>E-mail</ion-label>
          <ion-input style="font-size: 1em; color:white" formControlName="email" type="text" clearInput clearOnEdit="false"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
            <p class="error" *ngIf="loginForm.get('email').hasError('required')">Campo obrigatório</p>
        </ion-item>

        <ion-item style="background-color: #1a66ff">
            <ion-label style="font-size: 1em; color:white" floating>Senha</ion-label>
          <ion-input style="font-size: 1em; color:white" formControlName="senha" type="password" clearInput clearOnEdit="false">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.get('senha').errors && loginForm.get('senha').dirty">
            <p class="error" *ngIf="loginForm.get('senha').hasError('required')">Campo obrigatório</p>
        </ion-item>
      </ion-list>
    <button ion-button block color="primary">Login</button>
  </form>  
  <img src="assets/imgs/logo-sesc.png"/>
</ion-content>

<ion-footer>
    <button ion-button color="danger" round block (click)="pushPage()">Cadastre-se</button>
</ion-footer> 
